* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

#section-nav {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.section-nav-button {
  width: 100px;
  height: 30px;
}

.section-nav-button:not(:last-child) {
  margin-right: 0.3rem;
}

.state-container {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#message {
  width: 600px;
  margin-bottom: 1rem;
  color: darkred;
}

.green-text {
  color: darkgreen;
}
