* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.video-output {
  min-height: calc(1080px * 0.3);
  min-width: calc(1920px * 0.3);
  border: 1px dashed black;
  border-radius: 10px;
}

.video-title {
  text-align: center;
}

#section-nav {
  margin-bottom: 0.5rem;
}

.section-nav-button {
  width: 100px;
  height: 30px;
}

.section-nav-button:not(:last-child) {
  margin-right: 0.3rem;
}
