.char-imageselect-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 150px;
}

.char-imageselect-container:not(:last-child) {
  margin-right: 1rem;
}

.char-imageselect-container > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.char-imageselect-preview {
  $side: 128px;
  min-width: $side;
  min-height: $side;
  width: $side;
  height: $side;
  background-color: lightgray;
}

.char-char-title {
  text-align: center;
  margin-bottom: 0.3rem;
}

.char-char-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px black solid;
  padding: 0.5rem;
}

.char-char-container:not(:last-child) {
  margin-bottom: 1rem;
}

.char-imageselect-button {
  width: inherit;
  height: 30px;
}

.char-imageselect-message {
  width: inherit;
  height: 20px;
  color: darkred;
}

.char-imageselect-paste {
  text-align: center;
}

.green-text {
  color: darkgreen;
}
