.video-output {
  min-height: calc(1080px * 0.3);
  min-width: calc(1920px * 0.3);
  border: 1px dashed black;
  border-radius: 10px;
}

.video-title {
  text-align: center;
}

.entrypoint-button {
  width: 80px;
  height: 20px;
}

.entrypoint-button:not(:last-child) {
  margin-right: 0.3rem;
}
